/*
 * CONTENTS
 *
 * SETTINGS
 * Global
 *
 * BASE
 * Element1:                   BlockT1
 *  Element2:                   BlockT2
 *    Element3:                   BlockT3
 *    Element3:                   BlockT3
 *    Element3:                   BlockT3
 *  Element2                   BlockT1
 *
 *
 *
 */
 
/*-------------------------
	#GLOBAL
--------------------------*/

@font-face {
  font-family: "Roboto";
  src: local("../fonts/Roboto-Thin.ttf") format("truetype");
}




/*-------------------------
	#NAV -- Horizontal Main
--------------------------*/

.horizontal-main__nav {
  width: 980px;
  height: 36px;
  position: relative;
  background-color: gray;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  z-index: 1;
  
}



.main-nav__list-item {
  background-color: pink;
  float: left;
  background-image: url(../images/nav-navigation/globalnav_text.svg);
}






/*-------------------------
	#LIST-ITEM -- Main Nav
--------------------------*/

.apple-home__list-item--sprite {
  width: 18px;
	height: 23px;
  background-repeat: no-repeat;
  background-position: -71px -2px;
}

.store__list-item--sprite {
  width: 31px;
	height: 12px;
  background-repeat: no-repeat;
  background-position: -64px -38px;
}

.mac__list-item--sprite {
  width: 24px;
	height: 12px;
  background-repeat: no-repeat;
  background-position: -68px -68px;
}

.ipod__list-item--sprite {
  width: 26px;
	height: 13px;
  background-position: no-repeat;
  background-position: -67px -97px;
}

.iphone__list-item--sprite {
  width: 41px;
	height: 13px;
  background-repeat: no-repeat;
  background-position: -60px -127px;
}

.ipad__list-item--sprite {
  width: 24px;
	height: 13px;
  background-repeat: no-repeat;
  background-position: -68px -158px;
}

.itunes__list-item--sprite {
  width: 38px;
	height: 12px;
  background-repeat: no-repeat;
  background-position: -61px -188px;
}

.support__list-item--sprite {
  width: 48px;
	height: 15px;
  background-repeat: no-repeat;
  background-position: -56px -218px;
}





/*-------------------------
	#SECTION -- Main
--------------------------*/

.main__section {
  width: 1440px;
  height: 610px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.mural__figure {
  width: 1440px;
  height: 610px;
  background-image: url("../images/section-main/your_verse_hero.jpg");
  background-repeat: no-repeat;
  background-position: 0px -700px;
  background-size: 1440px 1315px;
}



.mural__figcaption--overlay {
  width: 800px;
  position: relative;
  margin: auto;
  top: 210px;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: 40px;
}

.mural-title__heading1 {
  font-size: 60px;
}

.mural-blurb__heading2 {
  position: relative;
  margin-top: 24px;
  font-size: 30px;
}

.mural-watch-video__heading4 {
  margin-top: 24px;
  font-size: 24px;
}

.mural__anchor {
  text-decoration: none;
  color: #fff;
}

.watch-video__anchor:hover {
  text-decoration: underline;
}





/*----------------------------------
	#FOOTER -- Horizontal Promotions
----------------------------------*/

.spacer-promotions__div {
  width: 1440px;
  margin: auto;
  position: relative;
  top: 556px;
}

.horizontal-promotions__footer {
  width: 1440px;
  height: 200px;
  position: relative;
  margin: auto;
}

.horizontal-promotions__unordered-list {
  list-style: none;
}

.promotions1__list-item, 
.promotions2__list-item, 
.promotions3__list-item, 
.promotions4__list-item {
  width: 360px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: 2px 0;
  float: left;
}

.promotions1__list-item {
  background-image: url("../images/footer-promotions/promo_iphone5s.jpg");
  background-position: 0 0;
}

.promotions2__list-item {
  background-image: url("../images/footer-promotions/promo_iphone5c.jpg");
}

.promotions3__list-item {
  background-image: url("../images/footer-promotions/promo_30_years.jpg");
}

.promotions4__list-item {
  background-image: url("../images/footer-promotions/promo_supplier_responsibility.jpg");
}






/*----------------------------------
	#FOOTER -- Horizontal Promotions
----------------------------------*/