/*
 * CONTENTS
 *
 * SETTINGS
 * Global
 *
 * BASE
 * Element1:                   BlockT1
 *  Element2:                   BlockT2
 *    Element3:                   BlockT3
 *    Element3:                   BlockT3
 *    Element3:                   BlockT3
 *  Element2                   BlockT1
 *
 *
 *
 */
 
/*-------------------------
	#GLOBAL
--------------------------*/

@font-face {
  font-family: "Roboto";
  src: local("../fonts/Roboto-Thin.ttf") format("truetype");
}




/*-------------------------
	#NAV -- Horizontal Main
--------------------------*/

.horizontal-main__nav {
  width: 980px;
  height: 36px;
  position: relative;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  z-index: 1;
  background: gray;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) .2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, .2) 100%),
              -moz-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%),
              -moz-linear-gradient(bottom, #888 0, #6e6e6e 0, #5e5e5e 47%, #6e6e6e 48%, #8e8e8e 100%);
}

.main-nav__list-item {
  float: left;
  width: 103px;
  height: 36px;
  border-right: 2px solid #6e6e6e;
}

.main-nav__list-item:hover {
  background: -moz-radial-gradient(#999, #2e2e2e 1%, #5e5e5e);
  border-radius: 2px;
}



.main-nav__span {
  position: relative;
  background-image: url(../images/nav-navigation/globalnav_text.svg);
  display: block;
  margin: auto;
}










/*-------------------------
	#LIST-ITEM -- Main Nav
--------------------------*/

.apple-home__span--sprite {
  width: 18px;
	height: 23px;
  background-repeat: no-repeat;
  background-position: -71px -2px;
  top: 4px;
}

.store__span--sprite {
  width: 31px;
	height: 12px;
  background-repeat: no-repeat;
  background-position: -64px -38px;
  top: 12px;
}

.mac__span--sprite {
  width: 24px;
	height: 12px;
  background-repeat: no-repeat;
  background-position: -68px -68px;
  top: 12px;
}

.ipod__span--sprite {
  width: 26px;
	height: 13px;
  background-position: no-repeat;
  background-position: -67px -97px;
  top: 12px;
}

.iphone__span--sprite {
  width: 41px;
	height: 13px;
  background-repeat: no-repeat;
  background-position: -60px -127px;
  top: 12px;
}

.ipad__span--sprite {
  width: 24px;
	height: 13px;
  background-repeat: no-repeat;
  background-position: -68px -158px;
  top: 12px;
}

.itunes__span--sprite {
  width: 38px;
	height: 12px;
  background-repeat: no-repeat;
  background-position: -61px -188px;
  top: 12px;
}

.support__span--sprite {
  width: 48px;
	height: 15px;
  background-repeat: no-repeat;
  background-position: -56px -218px;
  top: 12px;
}

.search-bar__list-item {
  border: none;
  width: 140px;
}



/*-------------------------
	#SECTION -- Main
--------------------------*/

.main__section {
  width: 1440px;
  height: 610px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.mural__figure {
  width: 1440px;
  height: 610px;
  background-image: url("../images/section-main/your_verse_hero.jpg");
  background-repeat: no-repeat;
  background-position: 0px -700px;
  background-size: 1440px 1315px;
}



.mural__figcaption--overlay {
  width: 800px;
  position: relative;
  margin: auto;
  top: 208px;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: 40px;
}

.mural-title__paragraph {
  width: 776px;
	height: 82px;
  position: static;
  background-image: url("../images/section-main/your_verse_title_big.png");
  background-repeat: no-repeat;
  background-position: -102px -22px;
  margin: auto;
}

.mural-blurb__paragraph {
  position: static;
  width: 776px;
	height: 73px;
  background-image: url("../images/section-main/your_verse_subhead_small.png");
  background-repeat: no-repeat;
  background-position: -102px -6px;
  margin: auto;
  margin-top: -4px;
}

.mural-watch-video__paragraph {
  position: static;
  width: 540px;
	height: 29px;
  background-image: url("../images/section-main/video_redirect.png");
  background-repeat: no-repeat;
  background-position: -219px -2px;
	margin: auto;
  margin-top: 32px;
  
}

.mural-watch-video__paragraph:hover {
  background-position: -219px -34px;
}

.mural__anchor {
  text-decoration: none;
  color: #fff;
}

.watch-video__anchor:hover {
  text-decoration: underline;
}





/*----------------------------------
	#FOOTER -- Horizontal Promotions
----------------------------------*/

.spacer-promotions__div {
  width: 1440px;
  margin: auto;
  position: relative;
  top: 556px;
}

.horizontal-promotions__footer {
  width: 1440px;
  height: 200px;
  position: relative;
  margin: auto;
}

.horizontal-promotions__unordered-list {
  list-style: none;
}

.promotions1__list-item, 
.promotions2__list-item, 
.promotions3__list-item, 
.promotions4__list-item {
  width: 360px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: 2px 0;
  float: left;
}

.promotions1__list-item {
  background-image: url("../images/footer-promotions/promo_iphone5s.jpg");
  background-position: 0 0;
}

.promotions2__list-item {
  background-image: url("../images/footer-promotions/promo_iphone5c.jpg");
}

.promotions3__list-item {
  background-image: url("../images/footer-promotions/promo_30_years.jpg");
}

.promotions4__list-item {
  background-image: url("../images/footer-promotions/promo_supplier_responsibility.jpg");
}






/*----------------------------------
	#SECTION -- Footers
----------------------------------*/

.footers__section {
  position: relative;
  width: 1080px;
  margin: auto;
  top: 580px;
  font-family: Roboto;
  font-size: 11px;
  color: #6e6e6e;
}

.footers__section a {
  text-decoration: none;
  color: #08c;
}

.footers__section a:hover {
  text-decoration: underline;
}



/*----------------------------------
	#FOOTER -- Shop
----------------------------------*/

.shop__footer {
  float: left;
}






/*----------------------------------
	#FOOTER -- Company
----------------------------------*/

.company__footer {
  float: right;
}


.company__footer li {
  display: inline-block;
}

.company__list-item {
  border-right: 1px solid #ccc;
  padding: 0 4px 0 4px;
}






/*----------------------------------
	#FOOTER -- Copyright
----------------------------------*/

.copyright__footer {
  position: relative;
  clear: both;
  top: 16px;
}

.copyright-footer__element {
  display: inline-block;
}

.terms-and-conditions__list-item {
  padding-right: 8px;
  border-right: 1px solid #ccc;
}

.privacy__list-item {
  padding-left: 4px;
}